@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$primary-color: #646cff;
$primary-hover: #535bf2;
$secondary-color: #747bff;

$bg-dark: #242424;
$bg-light: #ffffff;
$text-dark: rgba(255, 255, 255, 0.87);
$text-light: #213547;

$font-familyHeading: 'Inter Tight', sans-serif;
$font-familyBody: 'Lato', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;

$border-radius: 8px;
$transition-speed: 0.25s;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

